@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-3 col-m-6 col-sm-6">
        <div class="counter bg-primary">
            <p>
                <i class="fas fa-tasks"></i>
            </p>
            <h3>100+</h3>
            <p>To do</p>
        </div>
    </div>
    <div class="col-3 col-m-6 col-sm-6">
        <div class="counter bg-warning">
            <p>
                <i class="fas fa-spinner"></i>
            </p>
            <h3>100+</h3>
            <p>In progress</p>
        </div>
    </div>
    <div class="col-3 col-m-6 col-sm-6">
        <div class="counter bg-success">
            <p>
                <i class="fas fa-check-circle"></i>
            </p>
            <h3>100+</h3>
            <p>Completed</p>
        </div>
    </div>
    <div class="col-3 col-m-6 col-sm-6">
        <div class="counter bg-danger">
            <p>
                <i class="fas fa-bug"></i>
            </p>
            <h3>100+</h3>
            <p>Issues</p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-4 col-m-6 col-sm-6">
        <div class="card">
            <div class="card-header">
                <h3>
                    ĐƠN THÀNH CÔNG/ĐƠN HỦY
                </h3>
                <div class="row">
                    <div class="col-4 mr-2">Từ ngày</div>
                    <div class="col-4">Đến ngày</div>
                    <input id="successAndPendingFromDate" class="col-4 mr-2" type="date"/>
                    <input id="successAndPendingToDate" class="col-4" type="date"/>
                    <button id="successAndPendingBtn" class="col-2 btn btn-primary ml-3">Chọn</button>
                </div>
            </div>
            <div class="card-content">
                <canvas id="successAndPendingChart"></canvas>
            </div>
        </div>
    </div>
</div>

<div class="row">
	<div class="col-12">
		<div class="card">
			<div class="card-header">
				<h3>
					DOANH THU THEO NGÀY
				</h3>
				<div class="row">
					<div class="col-4 mr-2">Từ ngày</div>
					<div class="col-4">Đến ngày</div>
					<input id="incomeFromDate" class="col-4 mr-2" type="date" />
					<input id="incomeToDate" class="col-4" type="date" />
					<button id="incomeBtn" class="col-2 btn btn-primary ml-3">Chọn</button>
				</div>
			</div>
			<div class="card-content">
				<canvas id="incomeChart"></canvas>
			</div>
		</div>
	</div>
</div>

@section scripts {
    <script type="text/javascript">

		var getDaysArray = function (start, end) {
			for (var arr = [], dt = new Date(start); dt <= end; dt.setDate(dt.getDate() + 1)) {
				arr.push(new Date(dt));
			}
			return arr;
		};

        var successAndPendingChart
        function initSuccessAndPending(data) {
            let listOrder = JSON.parse(data.listOrder)
            let listOrderSuccess = JSON.parse(data.listOrderSuccess)
            let listCanceled = JSON.parse(data.listCanceled)
            const dataChart = {
                labels: [
                    'Tổng đơn',
                    'Đơn thành công',
                    'Đơn hủy'
                ],
                datasets: [{
                    label: 'My First Dataset',
                    data: [listOrder.length, listOrderSuccess.length, listCanceled.length],
                    backgroundColor: [
                        'rgb(54, 162, 235)',
                        'rgb(106, 176, 76)',
                        'rgb(235, 77, 75)'
                    ],
                    hoverOffset: 4
                }]
            }
            const configSuccessAndPending = {
                type: 'pie',
                data: dataChart,
                options: {
                    responsive: true,
                    maintainAspectRatio: false,

                }
            };
			successAndPendingChart = new Chart(
                document.getElementById('successAndPendingChart'),
                configSuccessAndPending
            )
        }
		getDataSuccessAndPending('1999-03-18', '2050-03-18').done(function (data) {
			initSuccessAndPending(data)
		})
		$('#successAndPendingBtn').on('click', function () {
			getDataSuccessAndPending($('#successAndPendingFromDate').val(), $('#successAndPendingToDate').val()).done(function (data) {
				//let listOrder = JSON.parse(data.listOrder)
				//let listOrderSuccess = JSON.parse(data.listOrderSuccess)
				//let listCanceled = JSON.parse(data.listCanceled)
				//myChart.data.datasets[0].data = [listOrder.length, listOrderSuccess.length, listCanceled.length]
				//myChart.update()
				successAndPendingChart.destroy()
				initSuccessAndPending(data)
			})
        })

        /*---------------------------------------------------------------------------------------------------------------------------------------*/

        var incomeChart
		function initIncome(response) {
			let listOrderSuccess = JSON.parse(response.listOrderSuccess)
            let fromDate = new Date(listOrderSuccess[0].order_created_date.split('T')[0])
			let toDate = new Date(listOrderSuccess[listOrderSuccess.length - 1].order_created_date.split('T')[0])
            let dayList = getDaysArray(fromDate, toDate)
			const labels = []
			const data = []
            dayList.map((v) => {
                v = v.toISOString().slice(0, 10)
                labels.push(v)
                let ar = listOrderSuccess.filter(e => new Date(e.order_created_date).toISOString().slice(0, 10) === v)
                let total = 0
                if (ar.length != 0) {
                    for (let item of ar) {
                        total += item.order_total
					}
                } else {
                    total = 0
                }
                data.push(total)
            })

			const dataChart = {
				labels: labels,
				datasets: [{
					label: 'Tổng thu',
					data: data,
					fill: true,
					borderColor: 'rgb(106, 176, 76)',
					tension: 0.1
				}]
			};
			const configIncome = {
				type: 'line',
				data: dataChart,
				options: {
					responsive: true,
					maintainAspectRatio: false,

				}
			};
			incomeChart = new Chart(
				document.getElementById('incomeChart'),
				configIncome
			)
        }
		getDataSuccessAndPending('1999-03-18', '2050-03-18').done(function (response) {
			initIncome(response)
        })
		$('#incomeBtn').on('click', function () {
			getDataSuccessAndPending($('#incomeFromDate').val(), $('#incomeToDate').val()).done(function (response) {
				incomeChart.destroy()
				initIncome(response)
			})
		})


        function getDataSuccessAndPending(fromDate, toDate) {
            return $.ajax({
                url: '@Url.Action("getOrderByDate", "Order")',
                type: 'GET',
                contentType: 'application/json;charset=utf-8',
                data: {
                    fromDate: fromDate,
                    toDate: toDate
                },
                success: function (data) {
                }
            })
        }

        
        
    </script>
}